body{
  text-align: center;
  background: #00ECB9;
font-family: sans-serif;
font-weight: 100;
}

h1{
color: black;
font-weight: 100;
font-size: 40px;
margin: 40px 0px 20px;
}

.link{
margin-top: 40px;
}

a{
display: inline-block;
color: #fff;
font-size: 20px;
padding: 20px;
background: #265;
border-radius: 10px;
text-decoration: none;
}

a:hover{
background: #487;
}

#clockdiv{
  font-family: sans-serif;
  color: #fff;
  display: inline-block;
  font-weight: 100;
  text-align: center;
  font-size: 30px;
}


#clockdiv > div{
  padding: 10px;
  border-radius: 3px;
  background: #00BF96;
  display: inline-block;
}

#clockdiv div > span{
  padding: 15px;
  border-radius: 3px;
  background: #00816A;
  display: inline-block;
}

.smalltext{
  padding-top: 5px;
  font-size: 16px;
}


/* animation */

@mixin anim-filter($filter, $value) {
  -webkit-filter: #{$filter}unquote("(#{$value})");
    -moz-filter: #{$filter}unquote("(#{$value})");
    -ms-filter: #{$filter}unquote("(#{$value})");
    filter: #{$filter}unquote("(#{$value})"); 
}

@mixin anim-transition($property, $value) {
-webkit-transition: $property, $value;
    -moz-transition: $property, $value;
    -ms-transition: $property, $value;
    transition: $property, $value;
}
@mixin anim-transform($property, $value) {
  -webkit-transform:  #{$property}unquote("(#{$value})");
    -moz-transform: #{$property}unquote("(#{$value})");
    -ms-transform: #{$property}unquote("(#{$value})");
    transform: #{$property}unquote("(#{$value})"); 
}



.text-anim {
color: #ffffff;
font-size: 32px;
text-align: center;
font-family: 'Oswald', sans-serif;
font-weight: 600;
}



/* ==========================================================================
 Main Animation	 ========================================================================== */
 
.text-anim {
  span {
    opacity: 0;
    @include anim-transition (all, 550ms);
    @include anim-filter(blur, 25px);
    @include anim-transform(translateZ, 0);
}
  
$letters: 34; //Define number of letters in animation - including spaces
$timing: 35ms; //Delay between letters

//Sets timing differntly for each letter
@while $letters > 0 {
  span:nth-child(#{$letters}) 
  { 
    -webkit-transition-delay: $timing * $letters;
    -moz-transition-delay: $timing * $letters;
    -ms-transition-delay: $timing * $letters;
    transition-delay: $timing * $letters;
   }
  $letters: $letters - 1;
  }
}

//Class added that animates
.text-anim.animate span {
    opacity: 1;
    @include anim-filter(blur, 0px);
}
